h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--uc-secondary-font-family);
}

.h1-title {
    @include font-size($h1_font_sizes);
    font-weight: 400;
    > span {
        font-weight: bold;
        position: relative;
        display: inline-block;
    }
}

.sub-title {
    @include font-size($subtitle_font_sizes);
    display: inline-block;
    position: relative;
    color: var(--uc-secondary-color);
    font-family: var(--uc-primary-font-family);
    font-weight: 400;
    padding-left: 20px;
    margin-bottom: 30px;

    &:before {
        @include before_after($t_b_val: 7px, $w: 10px, $h: 10px);
        background-color: var(--uc-primary-color);
    }

    .sub-title-line {
        position: relative;

        &:before {
            @include before_after($l_r: right, $l_r_val: -15px, $z_ind: -1);
            background-color: var(--uc-primary-color);
            transform: skew(-10deg);
        }
    }
}

.h2-title {
    @include font-size($h2_font_sizes);
    color: var(--uc-secondary-color);
    margin-bottom: 15px;
    position: relative;
    text-shadow: var(--uc-text-shadow);
    text-transform: uppercase;

    & span {
        font-weight: 400;
    }

    &.yellow-span span {
        color: var(--uc-primary-color);
    }
}

.h3-title {
    @include font-size($h3_font_sizes);
    color: var(--uc-secondary-color);
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.h4-title {
    @include font-size($h4_font_sizes);
    color: var(--uc-secondary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

body,
p {
    @include font-size($p_body_font_sizes);
}

// .h5-title {
//     @include font-size($h5_font_sizes);
// }

// .h6-title {
//     @include font-size($h6_font_sizes);
// }
